<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <p id="notice"><%= notice %></p>

    <div class="row">
      <div class="col-md-12 centrar-texto">
        <h1>Reticulas de estudios</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 derecha-texto">
          <%= link_to 'Nueva reticula', new_curriculum_path, class:"btn colorBackgroundTres colorTextoCinco"  %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-1">

      </div>
      <div class="col-md-10">
        <table class="table table-hover">
          <thead class="colorBackgroundTres colorTextoCinco">
            <tr>
              <th>Nombre</th>
              <th>Especialidad</th>
              <th>Ciclo escolar</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @curriculums.each do |curriculum| %>
              <tr>
                <td><%= curriculum.name %></td>
                <td><%= curriculum.specialty.name %></td>
                <td><%= curriculum.study_cycle %></td>
                <td><%= link_to 'Mostrar', curriculum %></td>
                <td><%= link_to 'Editar', edit_curriculum_path(curriculum) %></td>
                <td><%= link_to 'Eliminar', curriculum, method: :delete, data: { confirm: 'Esta seguro que desea eliminar la reticula, esto podria afectar a los grupos y aumnos?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-3 centrar-texto">
        <h3>Año de publicacion</h3>
      </div>
      <div class="col-md-9 centrar-texto">
        <h3>Especialidad de la reticula</h3>
      </div>
    </div>
    <div class="row colorBorderUno">
      <div class="col-md-3 centrar-texto ">
        <h1>2016</h1>
      </div>
      <div class="col-md-3 btn colorBackgroundCuatro ">
        <h3>clave_matricula</h3>
      </div>
      <div class="col-md-3 btn colorBackgroundCinco ">
        <h3>clave_matricula</h3>
      </div>
      <div class="col-md-3 btn colorBackgroundUno ">
        <h3>clave_matricula</h3>
      </div>
    </div>
  
    <div class="row colorBorderUno">
      <div class="col-md-3 centrar-texto ">
        <h1>2016</h1>
      </div>
      <div class="col-md-3 btn colorBackgroundCuatro ">
        <h3>clave_matricula</h3>
      </div>
      <div class="col-md-3 btn colorBackgroundCinco ">
        <h3>clave_matricula</h3>
      </div>
      <div class="col-md-3 btn colorBackgroundUno ">
        <h3>clave_matricula</h3>
      </div>
    </div>


  </div>
</div>

<%= render 'partials/footer' %>
