<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <div class="row">
      <div class="col-md-4 text-center">
        <h3 class="text-center"><strong><%= @curriculum.name %></strong></h3>
        Nombre Reticula
      </div>
      <div class="col-md-4 text-center">
        <h3 class="text-center"><strong><%= @curriculum.specialty.name %></strong></h3>
        Especialidad
      </div>
      <div class="col-md-4 text-center">
        <h3 class="text-center"><strong><%= @curriculum.study_cycle.aux_name %></strong></h3>
        Ciclo Escolar
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 text-right">
        <%= link_to '+ Nueva materia', new_curriculum_subject_path(@curriculum), class:"btn btn-primary" %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        
        <% 6.times do |num| %>
          <div class="row justify-content-center">
            <div class="col-md-12">
              <h4><strong>Semestre <%= num+1 %></strong></h4>
            </div>
            <br>
            <div class="col-md-10 ">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th>Materia</th>
                    <th>Clave</th>
                    <th>Profesor</th>
                    <th>Dependencia</th>
                    <th colspan="2"></th>
                  </tr>
                </thead>

                <tbody>
                  <% @curriculum.subjects.where(:semester => num+1).each do |subject| %>
                  <tr>
                    <td><%= subject.name %></td>
                    <td><%= subject.code %></td>
                    <td><%= subject.teacher.name %></td>
                    <td><%= subject.dependency_subject ? subject.dependency_subject.name : '--'%></td>
                    <td><%= link_to 'Edit', edit_curriculum_subject_path(@curriculum, subject) %></td>
                    <td><%= link_to 'Destroy', curriculum_subject_path(@curriculum, subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%= link_to 'Regresar', curriculums_path, class:"btn colorBackgroundTres colorTextoCinco" %>
  </div>
</div>

<%= render 'partials/footer' %>
