<%= render 'partials/header' %>

<div class="contenedor-principal">
  <div class="margenes">
    
    <div class="row">
      <div class="col-md-4">
        
        <p>
          <strong>Asignatura:</strong>
          <%= @teacher_group.subject %>
        </p>

        <p>
          <strong>Docente:</strong>
          <%= current_user.teacher.full_name %>
        </p>

        <p>
          <strong>Especialidad:</strong>
          <%= @teacher_group.group.specialty %>
        </p>
      </div>

      <div class="col-md-4">
        <p>
          <strong>Grupo:</strong>
          <%= @teacher_group.subject %>
        </p>

        <p>
          <strong>Generación:</strong>
          <%= '??????' %>
        </p>

        <p>
          <strong>Periodo:</strong>
          <%= @teacher_group.period %>
        </p>
      </div>
    </div>

    <div class="col-md-4">
      <%= link_to '+ Periodo', new_teacher_group_competence_period_path(@teacher_group) %>
    </div>

    <br>
    <h2>Tabla de competencias</h2> 
    <table class="table">
      <thead>
        <tr>
          <th width="130" >Matricula</th>
          <th>Nombre de alumno</th>
          <th>Competencias</th>
          <th>Actividades</th>
          <th>Observaciones</th>
          <th>Desempeño</th>
        </tr>
      </thead>
      <tbody>
        <% @teacher_group.group.students.each do |student| %>
          <tr>
            <td><%= student.enrollment %></td>
            <td><%= student.full_name -%></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Back', teacher_groups_path %>
  </div>
</div>

<%= render 'partials/footer' %>
