<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field espaciado">
    <%= f.label :Matricula, class:"colorTextoCuatro" %>
    <%= f.text_field :enrollment, class:"form-control colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Nombre, class:"colorTextoCuatro" %>
    <%= f.text_field :name, class:"form-control colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Apellido_paterno, class:"colorTextoCuatro" %>
    <%= f.text_field :last_name, class:"form-control colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Apellido_materno, class:"colorTextoCuatro" %>
    <%= f.text_field :mothers_last_name, class:"form-control colorBorderUno" %>
  </div>
  <div class="field espaciado">
    <%= f.label :sexo, class:"colorTextoCuatro" %><br>
    <%= f.radio_button(:sex, "Masculino") %>
    <%= f.label(:sex_masculino, "Masculino") %>
    <%= f.radio_button(:sex, "Femenino") %>
    <%= f.label(:sex_femenino, "Femenino") %>
  </div>

  <div class="field espaciado">
    <%= f.label :Grupo, class:"colorTextoCuatro" %>
    <%= f.select :group_id, options_for_select(Group.all.map{ |c| [c.name, c.id] }), {}, class: "form-control" %>
  </div>

  <div class="field espaciado">
    <%= f.label :especialidad, class:"colorTextoCuatro" %>
    <%= f.select :curriculum_id, options_for_select(Curriculum.all.map{ |c| [c.name, c.id] }), {}, class: "form-control" %>
    <%#= f.text_field :specialty_id %>
  </div>

  <div class="field espaciado">
    <%= f.label :ciclo_escolar, class:"colorTextoCuatro" %>
    <%= f.select :study_cycle_id, options_for_select(StudyCycle.all.map{ |c| [c.aux_name, c.id] }), {}, class: "form-control" %>
    <%#= f.text_field :specialty_id %>
  </div>
  <br>
  <div class="actions espaciado">
    <%= f.submit 'Crear Alumno', class:"btn colorBackgroundTres colorTextoCinco" %>
  </div>
<% end %>
