<%= form_for(student) do |f| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field espaciado">
    <%= f.label :Matricula, class:"colorTextoCuatro" %>
    <%= f.text_field :enrollment, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Nombre, class:"colorTextoCuatro" %>
    <%= f.text_field :name, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Apellido_paterno, class:"colorTextoCuatro" %>
    <%= f.text_field :last_name, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Apellido_materno, class:"colorTextoCuatro" %>
    <%= f.text_field :mothers_last_name, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Calle, class:"colorTextoCuatro" %>
    <%= f.text_field :address, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Municipio, class:"colorTextoCuatro" %>
    <%= f.text_field :suburb, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Ciudad, class:"colorTextoCuatro" %>
    <%= f.text_field :city, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Estado, class:"colorTextoCuatro" %>
    <%= f.text_field :state, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Codigo_postal, class:"colorTextoCuatro" %>
    <%= f.text_field :postal_code, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Fecha_de_nacimiento, class:"colorTextoCuatro" %>
    <%= f.date_select :birthdate, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.radio_button(:sex, "Masculino") %>
    <%= f.label(:sex_masculino, "Masculino") %>
    <%= f.radio_button(:sex, "Femenino") %>
    <%= f.label(:sex_femenino, "Femenino") %>
  </div>

  <div class="field espaciado">
    <%= f.label :Grupo, class:"colorTextoCuatro" %>
    <%= f.select :group_id, options_for_select(Group.all.map{ |c| [c.name, c.id] }), class:" colorBackgroundTres colorTextoCinco" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Espacialidad_o_carrera, class:"colorTextoCuatro" %>
    <%= f.select :specialty_id, options_for_select(Specialty.all.map{ |c| [c.name, c.id] }), class:" colorBackgroundTres colorTextoCinco" %>
    <%#= f.text_field :specialty_id %>
  </div>

  <div class="actions espaciado">
    <%= f.submit 'Crear Alumno', class:"btn colorBackgroundTres colorTextoCinco" %>
  </div>
<% end %>
