<%= render 'partials/header' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Enrollment:</strong>
  <%= @student.enrollment %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Mothers last name:</strong>
  <%= @student.mothers_last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @student.suburb %>
</p>

<p>
  <strong>City:</strong>
  <%= @student.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @student.state %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @student.postal_code %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @student.birthdate %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @student.sex %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @student.degree %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @student.specialty %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
<%= render 'partials/footer' %>
