<p id="notice"><%= notice %></p>

<h1>Competence Periods</h1>

<table>
  <thead>
    <tr>
      <th>Start at</th>
      <th>End at</th>
      <th>Title</th>
      <th>Description</th>
      <th>Teacher group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @competence_periods.each do |competence_period| %>
      <tr>
        <td><%= competence_period.start_at %></td>
        <td><%= competence_period.end_at %></td>
        <td><%= competence_period.title %></td>
        <td><%= competence_period.description %></td>
        <td><%= competence_period.teacher_group %></td>
        <td><%= link_to 'Show', competence_period %></td>
        <td><%= link_to 'Edit', edit_competence_period_path(competence_period) %></td>
        <td><%= link_to 'Destroy', competence_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Competence Period', new_competence_period_path %>
