<%= form_for(group) do |f| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12">
    <div class="field espaciado">
      <%= f.label :Nombre, class:"colorTextoCuatro"%>
      <%= f.text_field :name, class:"colorBorderUno" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="actions">
      <%= f.submit 'Crear Grupo', class:"btn colorBackgroundTres colorTextoCinco" %>
    </div>
  </div>
</div>


<% end %>
