<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <div class="row">
      <div class="col-md-12 centrar-texto">
        <h1>Editar grupo</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 centrar-texto">
        <%= render 'form', group: @group %>
      </div>
      <div class="col-md-12">
        <%= link_to 'Mostrar', @group, class:"btn colorBackgroundTres colorTextoCinco" %>
        <%= link_to 'Regresar', groups_path, class:"btn colorBackgroundTres colorTextoCinco" %>
      </div>
    </div>



  </div>
</div>

<%= render 'partials/footer' %>
