<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="row">
    <div class="col-md-8 ">
      <h1>Grupos</h1>
    </div>
    <div class="col-md-4 text-right">
      <%= link_to '+ Nuevo Grupo', new_group_path, class:"btn btn-primary"%>
    </div>
  </div>

  <% @groups.each do |group| %>
    <h3>
      <%= link_to group.full_name, group %>
      <small><%= group.generation %></small>
      <%= link_to 'editar', edit_group_path(group), class: 'btn btn-outline-secondary' %>
    </h3>
    <hr>
  <% end %>

</div>

<%= render 'partials/footer' %>
