<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<h2>Alumnos asignados</h2>
<p>
  <table>
    <thead>
      <tr>
        <th>Nombre del alumno</th>
      </tr>
    </thead>
    <tbody>
      <% @group.students.each do |student|  %>
        <tr>
          <td><%= [student.name, student.last_name, student.mothers_last_name].join(' ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
