<%= render 'partials/header' %>
<h1>Administradores del sistema</h1>
<% if flash[:notice] %>
<p class="notice"><%= notice %></p>
<% end %>
<% if flash[:alert] %>
<p class="alert"><%= alert %></p>
<% end %>
<p><%= link_to 'Nuevo Administrador', new_user_url, class: "btn btn-primary" %></p>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Email</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @administrators.each do |admin| %>
    <tr>
      <td><%= admin.email %></td>
      <td><%= link_to 'Editar', edit_user_path(admin) %></td>
      <td><%= link_to 'Eliminar', admin, method: :delete, data: {confirm: '¿Estas seguro?'}  %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render 'partials/footer' %>
