<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <h1 class="centrar-texto">
            Nuevo Usuario
          </h1>
        </div>
        <br>
      </div>
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="field espaciado">
            <%= f.label "Correo Electronico", class:"colorTextoCuatro" %>
            <%= f.text_field :email, class:"colorBorderUno"%>
          </div>
          <div class="field espaciado">
            <%= f.label "Contraseña", class:"colorTextoCuatro" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "off", class:"colorBorderUno" %>
          </div>

          <div class="field espaciado">
            <%= f.label "Confirma la Contraseña", class:"colorTextoCuatro" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class:"colorBorderUno" %>
          </div>
          <br>
          <div class="actions centrar-texto">
            <%= f.submit 'Crear Usuario', class:"btn colorBackgroundTres colorTextoCinco" %>
          </div>

        </div>
        <% end %>
        </div>
        <%= link_to 'Regresar', users_path, class:"btn colorBackgroundTres colorTextoCinco"  %>
      </div>




  </div>

</div>

<%= render 'partials/footer' %>
