<div class="contenedor-principal">
  <div class="margenes">
    <%= render 'partials/header' %>
    <br><br>
    <div class="container">
      <h3>Olvidaste tu contraseña?</h3>
      <br>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :Usuario, class:"colorTextoCuatro" %><br />
          <%= f.email_field :email, autofocus: true, class:"colorBorderUno" %>
        </div>
<br>
        <div class="actions">
          <%= f.submit "Enviar nueva contraseña al correo", class:"btn colorBackgroundTres colorTextoCinco"%>
        </div>
      <% end %>
      <br>
      <%= render "devise/shared/links" %>
    </div>


  </div>
</div>
