<div class="contenedor-principal">
  <div class="margenes">
    <div class="row nombre-usuario">
      <div class="col-md-12">
        <p><%= current_user.email %> -
          <% if user_signed_in? %> <%= link_to("Salir", destroy_user_session_path , method: :delete) %> <% end %>
        </p>
      </div>

    </div>

    <%= render 'partials/header' %>
    <br><br><br>

    <% if current_user.admin_role %>

      <%= link_to "Administradores", users_path %>
      <%= link_to "Profesores", teachers_path %>

    <% else %>

      <div class="row">
        <div class="col-md-4">
          <%= image_tag "logo.png", class:'Wfoto' %>
        </div>
        <div class="col-md-4">
          <h5>Datos Generales del Docente</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <h5>Semestre Actual</h5>
          <p>
            Lorem ipsum dolor sit amet,
          </p>

        </div>
        <div class="col-md-4">
          <%= image_tag "logo.png", class:'Wlogo' %>
        </div>

      </div>

      <br><br>
      <div class="row">
        <div class="col-md-8">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">
              Grupos a Cargo
            </button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action disabled">Vestibulum at eros</button>
          </div>

        </div>
        <div class="col-md-4">

        </div>
      </div>

    <% end %>



    <br><br>
    <div class="row">

      <div class="col-md-3">
        <%= image_tag "logo-sep", class:'Wsep'%>
      </div>
      <div class="col-md-3">
          <%= image_tag 'logo-dgeta', class: 'Wdgeta' %>
      </div>

      <div class="col-md-3">
        <%= image_tag "logo-sems", class:'Wsems' %>
      </div>

      <div class="col-md-3">
        <%= image_tag 'logo-snb', class: 'Wsnb' %>
      </div>


    </div>

  </div>
</div>
<%= render 'partials/footer' %>
