<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <h4 class="text-center">Centro de Bachillerato Tecnologico Agropecuario No.152 "Lauro L. Mendez"</h4>
    <h2 class="text-center">Competencias Genéricas para la Educacion Media Superior</h2>
    <br>
    <br>

    <% if current_user.admin_role %>
      <div class="row">
        
        <div class="col-md-9">
            <%= link_to "Administradores", users_path, class:"btn btn-lg btn-outline-primary" %>
            <%= link_to "Profesores", teachers_path, class:"btn btn-lg btn-outline-primary " %>
            <%= link_to "Grupos", groups_path, class:"btn btn-lg btn-outline-primary " %>
            <!-- <%#= link_to "Especialidades", specialties_path, class:"btn btn-lg btn-outline-primary " %> -->
            <%= link_to "Alumnos", students_path, class:"btn btn-lg btn-outline-primary " %>
            <!-- <%# link_to "Ciclo Escolar", study_cycles_path, class:"btn btn-lg btn-outline-primary " %> -->
            <%# link_to "Planes de estudios", curriculums_path, class:"btn btn-lg btn-outline-primary " %>
            <%= link_to "Administrar plan de Competencias", competition_categories_path, class:"btn btn-lg btn-outline-primary " %>
            <%= link_to "Asignar grupos", teacher_groups_path, class:"btn btn-lg btn-outline-primary " %>
        </div>
        <div class="col-md-3">
          <div class="col-md-12">
            <%= image_tag "logo.png", class: 'Wlogo' %>
          </div>
          <div class="col-md-12 text-center">
            <br>
            <br>
            <br>
            Calendario
            <br>
            <br>
            <br>
          </div>
        </div>

      </div>

    <% else %>

      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4 text-center">
              <%= image_tag 'teacher-noimage', class: 'teacher-avatar' %>
            </div>
            <div class="col-md-8">
              <h3>Datos generales del docente</h3>
              <hr>
              <h5><strong><%= current_user.teacher.full_name %></strong></h5>
              <p><%= current_user.email %></p>
            </div>
          </div>

          <hr>

          <h2>Mis Grupos</h2>

          <% @teacher_groups.each do |group| %>
            <p><%= group.group.full_name %> - <%= link_to group.subject, group %></p>
          <% end %>

        </div>

        <div class="col-md-3">
          <%= image_tag "logo.png", class: 'Wlogo' %>
          <br><br>
          <h1>Calendar</h1>
          <br><br>
        </div>
      </div>



    <% end %>

    <br><br>
    <div class="row semifooter">
      <div class="col-md-3 fh text-center">
        <%= image_tag "logo-sep.png", class: 'img-fh'%>
      </div>
      <div class="col-md-3 fh text-center">
          <%= image_tag 'logo-dgeta.jpg', class: 'img-fh' %>
      </div>

      <div class="col-md-3 fh text-center">
        <%= image_tag "logo-sems.jpg", class: 'img-fh' %>
      </div>

      <div class="col-md-3 fh text-center">
        <%= image_tag 'logo-snb.png', class: 'img-fh' %>
      </div>
    </div>

  </div>
</div>
<%= render 'partials/footer' %>
