<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <h4>Centro de Bachillerato Tecnologico Agropecuario No.152 "Lauro L. Mendez"</h4>
    <h2 class="text-center">Competencias Genéricas para la Educacion Media Superior</h2>
    <br>
    <br>

    <% if current_user.admin_role %>
      <div class="row">
        <div class="col-md-6">
          <%= image_tag "photo.png"%>
          <h5>Bienvenido</h5>
          <p>
            <%= current_user.email %>
          </p>
          <h5>Semestre Actual</h5>
          <p>
            Lorem ipsum dolor sit amet,
          </p>

        </div>
        <div class="col-md-3">
          <ul>
            <li><%= link_to "Administradores", users_path %></li>
            <li><%= link_to "Profesores", teachers_path %></li>
          </ul>
        </div>
        <div class="col-md-3">
          <div class="col-md-12">
            <%= image_tag "logo.png", class:'Wlogo' %>
          </div>
          <div class="col-md-12 text-center">
            <br>
            <br>
            <br>
            Calendario
            <br>
            <br>
            <br>
          </div>
        </div>

      </div>

    <% else %>

      <div class="row">
        <div class="col-md-4">
          <%= image_tag "logo.png", class:'Wfoto' %>
        </div>
        <div class="col-md-4">
          <h5>Datos Generales del Docente</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <h5>Semestre Actual</h5>
          <p>
            Lorem ipsum dolor sit amet,
          </p>

        </div>
        <div class="col-md-4">
          <%= image_tag "logo.png", class:'Wlogo' %>
        </div>

      </div>

      <br><br>
      <div class="row">
        <div class="col-md-8">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action active">
              Grupos a Cargo
            </button>
            <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
            <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
            <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
            <button type="button" class="list-group-item list-group-item-action disabled">Vestibulum at eros</button>
          </div>

        </div>
        <div class="col-md-4">

        </div>
      </div>

    <% end %>



    <br><br>
    <div class="row semifooter">
      <div class="col-md-3 fh text-center">
        <%= image_tag "logo-sep", class:'img-fh'%>
      </div>
      <div class="col-md-3 fh text-center">
          <%= image_tag 'logo-dgeta', class: 'img-fh' %>
      </div>

      <div class="col-md-3 fh text-center">
        <%= image_tag "logo-sems", class:'img-fh' %>
      </div>

      <div class="col-md-3 fh text-center">
        <%= image_tag 'logo-snb', class: 'img-fh' %>
      </div>


    </div>

  </div>
</div>
<%= render 'partials/footer' %>
