<%= form_for(specialty) do |f| %>
  <% if specialty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(specialty.errors.count, "error") %> prohibited this specialty from being saved:</h2>

      <ul>
      <% specialty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="field espaciado">
        <%= f.label :Nombre_de_la_especialidad, class:"colorTextoCuatro" %><br>
        <%= f.text_field :name, class:"form-control colorBorderUno" %>
      </div>

      <div class="field espaciado">
        <%= f.label :Descripcion, class:"colorTextoCuatro" %><br>
        <%= f.text_area :description, class:"form-control colorBorderUno" %>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <div class="actions">
        <%= f.submit 'Guardar especialidad', class:"btn colorBackgroundTres colorTextoCinco"  %>
      </div>
    </div>
  </div>


<% end %>
