<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-12 centrar-texto">
        <h1>Materias</h1>
      </div>
      <div class="col-md-12 derecha-texto">
          <%= link_to 'Nueva materia', new_curriculum_subject_path, class:"btn colorBackgroundTres colorTextoCinco" %>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Semestre 1</h3>
      </div>
      <br>
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <table class="table table-hover">
          <thead class="colorBackgroundTres colorTextoCinco">
            <tr>
              <th>Nombre</th>
              <th>Clave</th>
              <th>Reticula academica</th>
              <th>Profesor</th>
              <th>Dependencia</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.name %></td>
                <td><%= subject.code %></td>
                <td><%= subject.curriculum.name %></td>
                <td><%= subject.teacher.name %></td>
                <td><%= subject.dependency_subject_id %></td>
                <td><%= link_to 'Edit', edit_curriculum_subject_path(@curriculum, subject) %></td>
                <td><%= link_to 'Destroy', curriculum_subject_path(@curriculum, subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Semestre 2</h3>
      </div>
      <br>
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <table class="table table-hover">
          <thead class="colorBackgroundTres colorTextoCinco">
            <tr>
              <th>Nombre</th>
              <th>Clave</th>
              <th>Reticula academica</th>
              <th>Profesor</th>
              <th>Dependencia</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.name %></td>
                <td><%= subject.code %></td>
                <td><%= subject.curriculum.name %></td>
                <td><%= subject.teacher.name %></td>
                <td><%= subject.dependency_subject_id %></td>
                <td><%= link_to 'Edit', edit_curriculum_subject_path(@curriculum, subject) %></td>
                <td><%= link_to 'Destroy', curriculum_subject_path(@curriculum, subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Semestre 3</h3>
      </div>
      <br>
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <table class="table table-hover">
          <thead class="colorBackgroundTres colorTextoCinco">
            <tr>
              <th>Nombre</th>
              <th>Clave</th>
              <th>Reticula academica</th>
              <th>Profesor</th>
              <th>Dependencia</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.name %></td>
                <td><%= subject.code %></td>
                <td><%= subject.curriculum.name %></td>
                <td><%= subject.teacher.name %></td>
                <td><%= subject.dependency_subject_id %></td>
                <td><%= link_to 'Edit', edit_curriculum_subject_path(@curriculum, subject) %></td>
                <td><%= link_to 'Destroy', curriculum_subject_path(@curriculum, subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Semestre 4</h3>
      </div>
      <br>
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <table class="table table-hover">
          <thead class="colorBackgroundTres colorTextoCinco">
            <tr>
              <th>Nombre</th>
              <th>Clave</th>
              <th>Reticula academica</th>
              <th>Profesor</th>
              <th>Dependencia</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.name %></td>
                <td><%= subject.code %></td>
                <td><%= subject.curriculum.name %></td>
                <td><%= subject.teacher.name %></td>
                <td><%= subject.dependency_subject_id %></td>
                <td><%= link_to 'Edit', edit_curriculum_subject_path(@curriculum, subject) %></td>
                <td><%= link_to 'Destroy', curriculum_subject_path(@curriculum, subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Semestre 5</h3>
      </div>
      <br>
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <table class="table table-hover">
          <thead class="colorBackgroundTres colorTextoCinco">
            <tr>
              <th>Nombre</th>
              <th>Clave</th>
              <th>Reticula academica</th>
              <th>Profesor</th>
              <th>Dependencia</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.name %></td>
                <td><%= subject.code %></td>
                <td><%= subject.curriculum.name %></td>
                <td><%= subject.teacher.name %></td>
                <td><%= subject.dependency_subject_id %></td>
                <td><%= link_to 'Edit', edit_curriculum_subject_path(@curriculum, subject) %></td>
                <td><%= link_to 'Destroy', curriculum_subject_path(@curriculum, subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h3>Semestre 6</h3>
      </div>
      <br>
      <div class="col-md-1">
      </div>
      <div class="col-md-10">
        <table class="table table-hover">
          <thead class="colorBackgroundTres colorTextoCinco">
            <tr>
              <th>Nombre</th>
              <th>Clave</th>
              <th>Reticula academica</th>
              <th>Profesor</th>
              <th>Dependencia</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.name %></td>
                <td><%= subject.code %></td>
                <td><%= subject.curriculum.name %></td>
                <td><%= subject.teacher.name %></td>
                <td><%= subject.dependency_subject_id %></td>
                <td><%= link_to 'Edit', edit_curriculum_subject_path(@curriculum, subject) %></td>
                <td><%= link_to 'Destroy', curriculum_subject_path(@curriculum, subject), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <br>



  </div>
</div>
<%= render 'partials/footer' %>
