<%= form_for(teacher) do |f| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :users do |u| %>
    <div class="field espaciado">
      <%= u.label :email %>
      <%= u.email_field :email, autofocus: true %>
    </div>
    <div class="field espaciado">
      <%= u.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= u.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field espaciado">
      <%= u.label :password_confirmation %>
      <%= u.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  <% end %>

  <div class="field espaciado">
    <%= f.label :nombre, class:"colorTextoCuatro"%>
    <%= f.text_field :name, class:"colorBorderUno"%>
  </div>

  <div class="field espaciado">
    <%= f.label :Apellido_paterno, class:"colorTextoCuatro" %>
    <%= f.text_field :last_name, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :Apellido_materno, class:"colorTextoCuatro" %>
    <%= f.text_field :mothers_last_name, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :perfil, class:"colorTextoCuatro" %>
    <%= f.text_area :perfil, class:"colorBorderUno" %>
  </div>

  <div class="field espaciado">
    <%= f.label :usuario, class:"colorTextoCuatro" %>
    <%= f.text_field :user_id, class:"colorBorderUno" %>
  </div>

  <div class="actions espaciado">
    <%= f.submit %>
  </div>
<% end %>
