<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <div class="row">
      <div class="col-md-12">
        <h1 class="centrar-texto">Profesores</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 derecha-texto">
        <%= link_to 'Nuevo Profesor', new_teacher_path, class:"btn colorBackgroundTres colorTextoCinco" %>

      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead class="colorBackgroundTres colorTextoCinco">
            <tr>
              <th>Nombre</th>
              <th>Perfil</th>
              <th>Email</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody class="">
            <% @teachers.each do |teacher| %>
            <tr>
              <td><%= [teacher.name, teacher.last_name, teacher.mothers_last_name].join(" ")%></td>
              <td><%= teacher.perfil %></td>
              <td><%= teacher.user.email %></td>
              <td><%= link_to 'Mostrar', teacher %></td>
              <td><%= link_to 'Editar', edit_teacher_path(teacher) %></td>
              <td><%= link_to 'Eliminar', teacher, method: :delete, data: { confirm: 'Estas seguro de eliminar?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        </div>

      </div>
    <br>

  </div>
</div>
<%= render 'partials/footer' %>
