<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="">

      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-6">
        <p class="colorTextoDos">
          <strong class="colorTextoCuatro">Nombre:</strong>
          <%= @teacher.name %>
        </p>

        <p class="colorTextoDos">
          <strong class="colorTextoCuatro">Apellido Paterno:</strong>
          <%= @teacher.last_name %>
        </p>

        <p class="colorTextoDos">
          <strong class="colorTextoCuatro">Apellido Materno:</strong>
          <%= @teacher.mothers_last_name %>
        </p>

        <p class="colorTextoDos">
          <strong class="colorTextoCuatro">Perfil:</strong>
          <%= @teacher.perfil %>
        </p>




    </div>


  </div>
  <%= link_to 'Editar', edit_teacher_path(@teacher), class:"btn colorBackgroundTres colorTextoCinco" %>
  <%= link_to 'Regresar', teachers_path, class:"btn colorBackgroundTres colorTextoCinco"  %>

  </div>

</div>


<%= render 'partials/footer' %>
