<div class="contenedor-principal">
  <div class="margenes">
    <div class="row login-header">
      <div class="row align-items-center">
        
        <div class="col-md-2">
          <%= image_tag "logo-sep" %>
        </div>
        <div class="col-xs-12 col-md-8 text-center">
          <h4>Centro de Bachillerato Tecnologico Agropecuario No.152 "Lauro L. Mendez"</h4>
        </div>
        <div class="col-md-2">
          <%= image_tag "logo-sems" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Competencias Genéricas para la Educación Media Superior</h2>
        <br>
        <br>
      </div>

      <div class="col-md-6 text-center login-logo">
        <%= image_tag "logo.png" %>
      </div>

      <div class="col-md-4 text-left">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class:""}) do |f| %>
          <div class="form-group">
            <%= f.label :Usuario%>
            <%= f.email_field :email, autofocus: true, class: 'form-control'%>
          </div>
          <div class="form-group">
            <%= f.label :Contraseña %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-check">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>

          <%= f.submit "Ingresar",class:"btn btn-block btn-primary"%>


        <% end %>
        <%# render "devise/shared/links" %>
        <br>
        <br>
      </div>

      <hr>
      <div class="row justify-content-between">
        <div class="col-md-2">
          <%= image_tag 'logo-snb', class: 'img-fw' %>
        </div>
        <div class="col-md-2 text-right">
          <%= image_tag 'logo-dgeta', class: 'img-fw' %>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="container">
    <p>Ex-Hacienda de San Juan Ixtilmalco, carretera Apan-Tlaxco Km. 2 S/N, San Juan Ixtilmalco, Apan, Hgo. C.P. 43900</p>
    <p>Tel:(01748)912 04 20 y 912 37 10</p>
    <p>Email: direccbta@hotmail.com</p>
  </div>
</footer>
