<%= form_for(competence) do |f| %>
  <% if competence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competence.errors.count, "error") %> prohibited this competence from being saved:</h2>

      <ul>
      <% competence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-6">
    <div class="field espaciado">
      <%= f.label :nombre, class:"colorTextoCuatro" %><br>
      <%= f.text_field :name, class:"colorBorderUno" %>
    </div>

    <div class="field espaciado">
      <%= f.label :porcentaje, class:"colorTextoCuatro" %><br>
      <%= f.number_field :percentage, class:"colorBorderUno" %>
    </div>

    <div class="field espaciado">
      <%= f.label :profesor, class:"colorTextoCuatro" %><br>
      <%= f.text_field :teacher_id , class:"colorBorderUno"%>
    </div>

    <div class="field espaciado">
      <%= f.label :materia, class:"colorTextoCuatro" %><br>
      <%= f.text_field :subject_id , class:"colorBorderUno"%>
    </div>

    <div class="actions espaciado">
      <%= f.submit 'Guardar', class:"btn colorBackgroundTres colorTextoCinco" %>
    </div>
  </div>
</div>

<% end %>
