<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-12 centrar-texto">
        <h1>Competencias de la @materia</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 derecha-texto">
        <%= link_to 'Nueva competencia', new_competence_path, class:"btn colorBackgroundTres colorTextoCinco" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-8">
        <table class="table">
          <thead class="colorTextoTres">
            <tr>
              <th>Nombre</th>
              <th>Porcentaje</th>
              <th>Profesor</th>
              <th>Materia</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody class="colorTextoCinco">
            <% @competences.each do |competence| %>
              <tr>
                <td><%= competence.name %></td>
                <td><%= competence.percentage %></td>
                <td><%= competence.teacher %></td>
                <td><%= competence.subject %></td>
                <td><%= link_to 'Mostrar', competence %></td>
                <td><%= link_to 'Editar', edit_competence_path(competence) %></td>
                <td><%= link_to 'Eliminar', competence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


    <br>


  </div>
</div>

<%= render 'partials/footer' %>
