<%= form_for(generic_competence) do |f| %>
  <% if generic_competence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(generic_competence.errors.count, "error") %> prohibited this generic_competence from being saved:</h2>

      <ul>
      <% generic_competence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      <div class="form-group">  
        <div class="field">
          <%= f.label :number, 'Numeración' %>
          <%= f.number_field :number, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
          <%= f.label :name, 'Nombre' %>
          <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
          <%= f.label :competition_category_id, 'Pertenece a la Categoria:' %>
          <%= f.select :competition_category_id, CompetitionCategory.all.collect { |cc| [cc.number.to_s + '. ' + cc.name, cc.id] }, {}, class: 'form-control' %>
      </div>

      <br>
      <div class="col-12 text-right">
        <%= f.submit class: 'btn-lg btn-primary' %>
      </div>
    </div>
    <div class="col"></div>
  </div>
<% end %>
