<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <div class="row">
      <div class="col-md-12 centrar-texto">
        <h1>Editar ciclo escolar</h1>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md-6" >
        <%= render 'form', study_cycle: @study_cycle %>
      </div>
    </div>
    <br>
    <div class="row">

      <div class="col-md-12">
        <%= link_to 'Mostrar', @study_cycle,  class:"btn colorBackgroundTres colorTextoCinco" %>
        <%= link_to 'Regresar', study_cycles_path, class:"btn colorBackgroundTres colorTextoCinco"%>
      </div>
    </div>
  </div>
</div>
<%= render 'partials/footer' %>
