
<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <div class="row justify-content-center">
      <div class="col-md-8 ">
        <div class="row">
          <div class="col-md-8">
            <h1>Ciclos Escolares</h1>          
          </div>
          <div class="col-md-4 text-right">
            <%= link_to '+ Nuevo ciclo escolar', new_study_cycle_path, class:"btn btn-primary" %>
          </div>
        </div>


        <table class="table table-hover">
          <thead class="colorBackgroundTres colorTextoCinco">
            <tr>
              <th>Inicio de ciclo</th>
              <th>Fin de ciclo</th>
              <th width="30" colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @study_cycles.each do |study_cycle| %>
              <tr>
                <td><h4><%= study_cycle.start_at %></h4></td>
                <td><h4><%= study_cycle.end_at %></h4></td>
                <td><%= link_to 'Editar', edit_study_cycle_path(study_cycle) %></td>
                <td><%= link_to 'Eliminar', study_cycle, method: :delete, data: { confirm: 'Realmente desea eliminar el ciclo escolar?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <br>
    <br>


  </div>
</div>
<%= render 'partials/footer' %>
