<%= render 'partials/header' %>
<div class="contenedor-principal">
  <div class="margenes">
    <p id="notice"><%= notice %></p>
    <div class="row">
      <div class="col-md-12 centrar-texto">
        <p>
          <strong>Start at:</strong>
          <%= @study_cycle.start_at %>
        </p>
        <p>
          <strong>End at:</strong>
          <%= @study_cycle.end_at %>
        </p>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'Editar', edit_study_cycle_path(@study_cycle),  class:"btn colorBackgroundTres colorTextoCinco" %>
        <%= link_to 'Regresar', study_cycles_path, class:"btn colorBackgroundTres colorTextoCinco"%>
      </div>
    </div>
  </div>
</div>
<%= render 'partials/footer' %>
