<%= form_for(generic_competence_attribute) do |f| %>
  <% if generic_competence_attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(generic_competence_attribute.errors.count, "error") %> prohibited this generic_competence_attribute from being saved:</h2>

      <ul>
      <% generic_competence_attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col"></div>
    <div class="col-6">
      
      <div class="form-group">
        <%= f.label :number, 'Numeración' %>
        <%= f.number_field :number, class: 'form-control', min: 1 %>
      </div>

      <div class="form-group">
        <%= f.label :description, 'Descripción' %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :generic_competence_id, 'Pertenece a la Competencia:' %>
        <%= f.select :generic_competence_id, GenericCompetence.all.collect { |c| [ c.number.to_s + ' ' + c.name, c.id]}, {}, class: 'form-control' %>
      </div>

      <div class="column-12 text-right">
        <%= f.submit class: 'btn-lg btn-primary' %>
      </div>
    </div>
    <div class="col"></div>
  </div>
<% end %>
